body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    border: 0px solid green;
}

.dark {
    background-color: #1f2937;
    color: #f9faf8;
}

.grey {
    background-color: #E5E7EB;
}

.outerContainer {
    width: 100%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
    max-width: 1000px;
    margin: auto;
}

.headerLogoText {
    font-size: 24px;
}
.secondaryText {
    font-size: 18px;
    color: #E5E7EB;
}

.reasonText {
    font-size: 12px;
    color: #1f2937;
}


.navLinks ul{
    display: flex;
}

.navLinks li {
    padding: 10px;
}

.hero1 {
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding: 15px 15px 50px 15px;
    gap: 15px;
}

.heroLeft {
    max-width: 50%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroLeft * {
    margin: 0px;
    
}

.heroRight {
    width: 50%;
    flex: 1 1 auto;
}

.heroMainText {
    font-size: 48px;
    font-weight: 900;
}

.section2 {
    /* card section */
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding: 20px 50px 50px 50px;
    gap: 15px;
    justify-content: center;
}

.section2h2 {
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
    gap: 15px;
    justify-content: center;
}

.section2 img {
    max-height: 100%;
    overflow: hidden;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.section2 p {
    margin: 5px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.quote3 {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    padding: 50px 50px 50px 50px;
    gap: 15px;
    justify-content: center;
    align-items: flex-end;
}

.quote {
    color: #1f2937;
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
}

.credit {
    font-size: 18px;
    font-weight: 900;
    color: black;
    padding-right: 150px;
}

.callToAction4 {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 12px;
    align-items: center;
    padding: 0px;
}

.actionWords {
    padding: 50px;
}

.actionWords * {
    color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actionButton button {
    border: 2px solid white;
    border-radius: 10px;
}

footer {
    padding: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    max-width: 200px;
}