body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    border: 1px solid green;
}

.dark {
    background-color: #1f2937;
    color: #f9faf8;
}

.outerContainer {
    width: 100%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 1000px;
    margin: auto;
}

.headerLogoText {
    font-size: 24px;
}

.navLinks ul{
    display: flex;
}

.navLinks li {
    padding: 10px;
}

.hero1 {
    display: flex;
    max-width: 1000px;

}

.heroLeft {
    max-width: 50%;
    flex: 1 1 auto;
}

.heroRight {
    width: 50%;
    flex: 1 1 auto;
}

.heroMainText {
    font-size: 48px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}
img {
    max-width: 200px;
}